html {
    display: block;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1034;
}

header .logo  {
    position: absolute;
    left: 45px;
    top: 10px;
    display: block;
    border: none;
    width: 300px;
    height: 70px;
    background: url("../dist/img/logo-upgrisba.png") no-repeat center;
    background-size: 300px 70px;
}

/* The sidebar menu */
.sidebarCostum {
    border-radius: 5px;
    height: 85%; 
    width: 0; 
    position: fixed; 
    top: 45px;
    right: 0;
    background-color:#f1f1f1;
    overflow-x: hidden;
    padding-left: 0;
    padding-right: 0;
    transition: 0.5s; 
}
  
/* The sidebar links */
.sidebarCostum a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebarCostum .title {
    padding: 10px 8px 10px 10px;
    text-decoration: none;
    font-size: 18px;
    color:#111;
    display: block;
    transition: 0.3s; 
    background-color:#fff ;  
    margin-bottom: 2px;
}

  
/* When you mouse over the navigation links, change their color */
.sidebarCostum a:hover {
    color: #111;
}
  
/* Position and style the close button (top right corner) */
.sidebarCostum .closebtn {
    position: absolute;
    top: -11px;
    right: 7px;
    font-size: 32px;
    margin-left: 50px;
}
  
/* The button used to open the sidebar */
.openbtn {
    border-radius: 5px;
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    margin: 10px;
    top: 0;
    right: 0;
}
  
.openbtn:hover {
    background-color: #111;
}

.menus {
    background: url("../image/app.png") no-repeat center;
    background-color: #fff;
    position: fixed;
    width: 46px;
    height: 46px;
    right: 4px;
    bottom: 4px;
    border-radius: 25px;        
    border: 1px solid #999;
}

.menus:hover{
    background-color:#f1f1f1;
}

.denah {
    background: url("../image/maps.png") no-repeat center;
    background-color: #fff;
    position: fixed;
    width: 46px;
    height: 46px;
    right: 54px;
    bottom: 4px;
    border-radius: 25px;        
    border: 1px solid #999;
}

.denah:hover{
    background-color:#f1f1f1;
}

.backsound {
    background: url("../image/music.png") no-repeat center;
    background-color: #fff;
    position: fixed;
    width: 46px;
    height: 46px;
    right: 104px;
    bottom: 4px;
    border-radius: 25px;        
    border: 1px solid #999;
}

.backsound:hover{
    background-color:#f1f1f1;
}
  
/* SIDEBAR */

#gedungSelect {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 0px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

#scenesContainer {
    margin: 8px;
}

#scenesContainer .scenes-list li {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #ffffff;
    list-style: none;    
}

#scenesContainer .scenes-list li:hover {
    background-color: #ddd;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebarCostum {padding-top: 15px;}
    .sidebarCostum a {font-size: 18px;}
    .openbtn {font-size: 10px;}
}

@media screen and (max-width: 450px) {
    header .logo {
        position: absolute;
        display: block;
        text-align: left;
        width: 200px;
        height: 70px;
        top: auto;
        left: 10px;
        background-size: contain;
    }
    .openbtn {
        font-size: 15px;   
    }
    .pnlm-controls-container{
        display: none;
    }
}

#pannellum {

    width: 100%;
    position: relative;
}

#pannellum .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
}

.home-content-table {
    width: 100%;  
    height: 100%;
    display: table;
    position: absolute;
    text-align: center;
    z-index: 800;
    background: #252525b6;
}

.home-content-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.home-content-tablecell h1 {
    font-family: "montserrat-bold", serif;
    font-size: 5rem;
    line-height: 1;
    color: rgb(207, 201, 201);
}

.home-content-tablecell h5 {
    font-family: "montserrat-bold", serif;
    font-size: 2rem;
    line-height: 1;
    color: rgb(207, 201, 201);
}
.home-content-tablecell .more {
    margin: 4.8rem 0 0 0;
}
.home-content-tablecell .more .button {
    color: rgba(0, 0, 0, 0.712);
    background: rgb(207, 201, 201);
}

.home-content-tablecell .more .button:hover{
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .home-content-tablecell h1 {
      font-size: 2rem; 
    }
  
    .home-content-tablecell .more {
      margin: 2rem 0 0 0; 
    }
}

div.gallery {
    border: 1px solid #ccc;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 8px;
    text-align: center;
    font-size:10px;
}
  
*{
    box-sizing: border-box;
}
  
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
  
@media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
}
  
@media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}